# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# BERT model files (bert_model)
*.bin
*.pt
*.h5

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Log or temp files
*.log
*.tmp

# Model files
bert_model/
bert_model.zip

# Ignore model files and large folders
bert_model/
*.joblib
__pycache__/
*.zip
*.safetensors

# Ignore virtual environments or Python caches
.venv/
*.pyc
.DS_Store
