# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/

# BERT model files (bert_model)
*.bin
*.pt
*.h5

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Log or temp files
*.log
*.tmp
